@import '~bootstrap/scss/bootstrap';

.header {
  text-align: center;
}

.grid {
  margin: 0 auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 5rem;
  background-color: rgba(0, 0, 255, 0.5);
}

.row {
  display: flex;
}

.box {
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  text-align: center;
}

.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}

.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: black;
  cursor: crosshair;
}

.winner {
  display: none;
  padding: 10px;
  font-size: 32px;
  color: tomato;
  text-align: center;
}

.reset {
  padding: 20px;
  margin: 20px;
  background-color: tomato;
  border-radius: 25px 50px;
  color: white;
}

.reset:hover {
  background-color: black;
}

#message {
  font-size: 50px;
  color: tomato;
}
