@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Major+Mono+Display');

.header {
  text-align: center;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.grid {
  margin: 0 auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 5rem;
  background-color: rgba(255, 209, 209, 0.8);
}

.row {
  display: flex;
}

.box {
  background: rgba(255, 0, 0, 0.5);
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
  text-align: center;
}

.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}

.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: rgba(255, 209, 209, 0.8);
  cursor: crosshair;
}

.winner {
  display: none;
  padding: 10px;
  font-size: 32px;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.tie {
  display: none;
  padding: 10px;
  font-size: 32px;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.score {
  display: none;
  padding: 10px;
  font-size: 32px;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.reset {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 25px 50px;
  color: white;
}

.reset:hover {
  background-color: black;
}

.hidden {
  display: none;
}

#message {
  font-size: 20px;
  color: rgba(255, 0, 0, 0.5);
}

.logButton {
  position: absolute;
  left: 60px;
  right: 0;
  bottom: 10;
  top: 100px;
  // align-items: center;
  // justify-content: center;
}

.btn {
  background-color: rgba(255, 209, 209, 0.8);
}

.create-game {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  // border-radius: 25px 50px;
  color: white;
}
